.mdc-text-field:not(.mdc-text-field--disabled) {
  background-color: var(--mdc-theme-background);
}

.mdc-list-group__subheader {
  margin-bottom: 0;
}

.mdc-list-group__subheader,
.mdc-list-item__primary-text {
  font-weight: 500;
  color: var(--mdc-theme-on-surface);
}
