.mdc-text-field:not(.mdc-text-field--disabled) {
  background-color: var(--mdc-theme-background);
}

.mdc-list-group__subheader {
  margin-bottom: 0;
}

.mdc-list-group__subheader,
.mdc-list-item__primary-text {
  font-weight: 500;
  color: var(--mdc-theme-on-surface);
}

.mdc-list-item__meta {
  display: flex;
}

.mdc-fab {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1),
    0px 6px 10px 0px rgba(0, 0, 0, 0.03), 0px 1px 18px 0px rgba(0, 0, 0, 0.03);
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-text-primary-on-dark);
}

.mdc-fab:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.16),
    0px 8px 10px 1px rgba(0, 0, 0, 0.09), 0px 3px 14px 2px rgba(0, 0, 0, 0.09);
}
