.root {
  background-color: var(--mdc-theme-background);
  width: 100%;
  height: 100%;
}

.childrenContainer {
  max-width: 960px;
  margin: 0 auto;
}

.TopAppBarFixedAdjust {
  background-color: var(--mdc-theme-background);
}
